h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.section__title--visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.section--hero {
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/index/Img8.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/index/Img8.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav__link--current::before {
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #2196f3;
}

.page {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--hero {
  max-width: 768px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .section--hero {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1200px) {
  .section--hero {
    max-width: 1600px;
    height: 600px;
  }
}

.section--services {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section--services {
    display: block;
    padding-top: 0;
  }
}

.section--team {
  background-color: #f5f4fa;
}

.section__title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .section__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.section__title--hero {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (min-width: 1200px) {
  .section__title--hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.container {
  width: 320px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container--hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -15px;
  margin-right: -15px;
  margin-bottom: -15px;
  margin-left: -15px;
}

.grid__item {
  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.grid__item--features {
  -ms-flex-preferred-size: calc(100% / 1 - 2 * 15px);
      flex-basis: calc(100% / 1 - 2 * 15px);
}

@media screen and (min-width: 768px) {
  .grid__item--features {
    -ms-flex-preferred-size: calc(100% / 2 - 2 * 15px);
        flex-basis: calc(100% / 2 - 2 * 15px);
  }
}

@media screen and (min-width: 1200px) {
  .grid__item--features {
    -ms-flex-preferred-size: calc(100% / 4 - 2 * 15px);
        flex-basis: calc(100% / 4 - 2 * 15px);
  }
}

.grid__item--services {
  -ms-flex-preferred-size: calc(100% / 3 - 2 * 15px);
      flex-basis: calc(100% / 3 - 2 * 15px);
}

.grid__item--team {
  -ms-flex-preferred-size: calc(100% / 1 - 2 * 15px);
      flex-basis: calc(100% / 1 - 2 * 15px);
}

@media screen and (min-width: 768px) {
  .grid__item--team {
    -ms-flex-preferred-size: calc(100% / 2 - 2 * 15px);
        flex-basis: calc(100% / 2 - 2 * 15px);
  }
}

@media screen and (min-width: 1200px) {
  .grid__item--team {
    -ms-flex-preferred-size: calc(100% / 4 - 2 * 15px);
        flex-basis: calc(100% / 4 - 2 * 15px);
  }
}

.grid__item--customers {
  -ms-flex-preferred-size: calc(100% / 1 - 2 * 15px);
      flex-basis: calc(100% / 1 - 2 * 15px);
}

@media screen and (min-width: 480px) {
  .grid__item--customers {
    -ms-flex-preferred-size: calc(100% / 2 - 2 * 15px);
        flex-basis: calc(100% / 2 - 2 * 15px);
  }
}

@media screen and (min-width: 768px) {
  .grid__item--customers {
    -ms-flex-preferred-size: calc(100% / 3 - 2 * 15px);
        flex-basis: calc(100% / 3 - 2 * 15px);
  }
}

@media screen and (min-width: 1200px) {
  .grid__item--customers {
    -ms-flex-preferred-size: calc(100% / 6 - 2 * 15px);
        flex-basis: calc(100% / 6 - 2 * 15px);
  }
}

.grid__item--projects-card {
  -ms-flex-preferred-size: calc(100% / 1 - 2 * 15px);
      flex-basis: calc(100% / 1 - 2 * 15px);
}

@media screen and (min-width: 768px) {
  .grid__item--projects-card {
    -ms-flex-preferred-size: calc(100% / 2 - 2 * 15px);
        flex-basis: calc(100% / 2 - 2 * 15px);
  }
}

@media screen and (min-width: 1200px) {
  .grid__item--projects-card {
    -ms-flex-preferred-size: calc(100% / 3 - 2 * 15px);
        flex-basis: calc(100% / 3 - 2 * 15px);
  }
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  border-color: transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.btn:hover, .btn:focus {
  background-color: #188ce8;
}

.btn__icon {
  fill: currentColor;
}

.btn__icon--end {
  margin-left: 10px;
}

.btn-close {
  width: 30px;
  height: 30px;
  background: #ffffff;
  color: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover, .btn-close:focus {
  color: #2196f3;
}

.btn-close__icon {
  fill: currentColor;
}

.logo {
  display: block;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__web {
  color: #2196f3;
}

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  position: relative;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .header__container {
    height: 80px;
  }
}

.header__logo {
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .header__logo {
    padding-top: 26px;
    padding-bottom: 26px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.header__nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__nav {
    display: block;
    margin-left: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__nav {
    margin-left: 93px;
  }
}

.header__contacts {
  display: none;
}

@media screen and (min-width: 768px) {
  .header__contacts {
    display: block;
    margin-left: auto;
  }
}

.nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav__list {
  display: block;
  height: 100%;
  margin-right: -50px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__item {
  margin-right: 50px;
  position: relative;
}

.nav__link {
  display: inline-block;
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--current {
  color: #2196f3;
}

.nav__link--current::before {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
}

.contacts {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1200px) {
  .contacts {
    font-size: 14px;
    line-height: 1.14;
  }
}

.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: -10px;
  list-style: none;
}

@media screen and (min-width: 1200px) {
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: -50px;
  }
}

.contacts__item {
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .contacts__item {
    margin-left: 50px;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}

.contacts__icon {
  fill: currentColor;
}

.contacts__icon--start {
  margin-right: 10px;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer__logo {
  text-align: center;
  margin-bottom: 20px;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    display: inline-block;
  }
}

.footer__address {
  margin-right: auto;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__address {
    margin-right: 0;
    margin-bottom: 0;
  }
}

.footer__joining {
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .footer__joining {
    margin-left: 70px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__joining {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .footer__subscription {
    margin-left: auto;
  }
}

.address {
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .address {
    text-align: left;
  }
}

.address__list {
  margin-bottom: -8px;
  list-style: none;
}

@media screen and (min-width: 1200px) {
  .address__list {
    margin-bottom: -9px;
  }
}

.address__item {
  margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
  .address__item {
    margin-bottom: 9px;
  }
}

.address__link {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link:hover, .address__link:focus {
  color: #2196f3;
}

.joining {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .joining {
    text-align: left;
  }
}

.joining__title {
  margin-bottom: 20px;
  text-transform: uppercase;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: -10px;
  list-style: none;
}

.socials__item {
  margin-left: 10px;
}

.socials__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials__link--team {
  color: #afb1b8;
  background-color: transparent;
}

.socials__link:hover, .socials__link:focus {
  background-color: #2196f3;
}

.socials__link--team:hover, .socials__link--team:focus {
  color: #ffffff;
}

.socials__icon {
  fill: currentColor;
}

.subscription {
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .subscription {
    text-align: left;
  }
}

.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .subscription__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.subscription__label {
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1200px) {
  .subscription__label {
    margin-right: 12px;
  }
}

.subscription__input {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 16px;
  width: 290px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: #ffffff;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .subscription__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription__input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
    margin-bottom: 0;
    width: 358px;
  }
}

.subscription__input:focus {
  border-color: #ffffff;
}

.subscription__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscription__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscription__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscription__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.feature__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
  width: 290px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

@media screen and (min-width: 480px) {
  .feature__icon-box {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .feature__icon-box {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .feature__icon-box {
    width: 270px;
  }
}

.feature__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  font-style: normal;
  text-transform: uppercase;
  color: #212121;
}

@media screen and (min-width: 768px) {
  .feature__title {
    text-align: left;
  }
}

.feature__desc {
  color: #757575;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.services {
  position: relative;
}

.services__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.services__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team-card {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card__image {
  display: block;
  max-width: 100%;
  height: auto;
  width: 290px;
}

@media screen and (min-width: 480px) {
  .team-card__image {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .team-card__image {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team-card__image {
    width: 270px;
  }
}

.team-card__desc {
  padding-top: 30px;
  padding-right: 15px;
  padding-bottom: 24px;
  padding-left: 15px;
}

@media screen and (min-width: 1200px) {
  .team-card__desc {
    padding-top: 30px;
    padding-right: 32px;
    padding-bottom: 30px;
    padding-left: 32px;
  }
}

.team-card__name {
  margin-bottom: 10px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.team-card__text {
  margin-bottom: 16px;
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}

.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.customers__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition-property: border-color, color;
  transition-property: border-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .customers__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .customers__link {
    width: 170px;
  }
}

.customers__link:hover, .customers__link:focus {
  border-color: #2196f3;
  color: #2196f3;
}

.customers__icon {
  fill: currentColor;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: -15px;
  margin-right: -4px;
  margin-bottom: 40px;
  margin-left: -4px;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .filter {
    margin-top: 0;
    margin-bottom: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

.filter__item {
  margin-top: 15px;
  margin-right: 4px;
  margin-left: 4px;
}

@media screen and (min-width: 768px) {
  .filter__item {
    margin-top: 0;
  }
}

.filter__btn {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  border-radius: 4px;
  border-color: transparent;
  background-color: #f5f4fa;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: box-shadow, background-color, color;
  transition-property: box-shadow, background-color, color, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.filter__btn--default {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter__btn:hover, .filter__btn:focus {
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: #2196f3;
  color: #ffffff;
}

.projects-card {
  width: 290px;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 480px) {
  .projects-card {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .projects-card {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-card {
    width: 370px;
  }
}

.projects-card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  text-decoration: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-card__link:hover, .projects-card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-card__overflow {
  position: relative;
  overflow: hidden;
}

.projects-card__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.projects-card__text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .projects-card__text {
    padding-top: 77px;
    padding-right: 24px;
    padding-bottom: 77px;
    padding-left: 24px;
  }
}

@media screen and (min-width: 768px) {
  .projects-card__text {
    padding-top: 49px;
    padding-bottom: 49px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-card__text {
    padding-top: 63px;
    padding-bottom: 63px;
  }
}

.projects-card__link:hover .projects-card__text,
.projects-card__link:focus .projects-card__text {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.projects-card__desc {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects-card__name {
  margin-bottom: 4px;
  color: #212121;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-card__type {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: visible;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  width: 290px;
  height: auto;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background: #ffffff;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.backdrop--is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal__title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

@media screen and (min-width: 480px) {
  .modal__title {
    font-size: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .modal__title {
    line-height: 1.15;
  }
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-group {
  width: 100%;
}

.input-group__label {
  position: relative;
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;
}

.input-group__input {
  margin-top: 4px;
  padding-top: 0;
  padding-right: 42px;
  padding-bottom: 0;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.input-group__input:focus {
  border-color: #2196f3;
}

.input-group__icon {
  position: absolute;
  bottom: 20px;
  left: 12px;
  -webkit-transform: translateY(50%);
          transform: translateY(50%);
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-group__input:focus + .input-group__icon {
  fill: #2196f3;
}

.comment {
  width: 100%;
}

.comment__label {
  display: block;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  cursor: pointer;
}

.comment__text {
  display: block;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  resize: none;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.comment__text:focus {
  border-color: #2196f3;
}

.comment__text::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment__text:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment__text::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.comment__text::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

@media screen and (min-width: 1200px) {
  .comment__text::-webkit-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .comment__text:-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .comment__text::-ms-input-placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
  .comment__text::placeholder {
    font-size: 12px;
    line-height: 1.17;
  }
}

.checkbox {
  width: 100%;
}

.checkbox__label {
  position: relative;
  display: block;
  margin-bottom: 30px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .checkbox__label {
    padding-left: 37px;
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.checkbox__policy {
  color: #2196f3;
}

.checkbox__icon--off-checked {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  fill: #212121;
  -webkit-transition-property: fill, opacity;
  transition-property: fill, opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .checkbox__icon--off-checked {
    top: 50%;
    left: 14px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.checkbox__input:focus ~ .checkbox__icon--off-checked {
  fill: #2196f3;
}

.checkbox__input:checked ~ .checkbox__icon--off-checked {
  opacity: 0;
}

.checkbox__icon--on-checked {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1200px) {
  .checkbox__icon--on-checked {
    top: 50%;
    left: 14px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.checkbox__input:checked ~ .checkbox__icon--on-checked {
  opacity: 1;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 250ms linear;
  transition: -webkit-transform 250ms linear;
  transition: transform 250ms linear;
  transition: transform 250ms linear, -webkit-transform 250ms linear;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu.is-open {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.mobile-menu__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
  padding-top: 48px;
  padding-right: 40px;
  padding-bottom: 48px;
  padding-left: 40px;
}

.mobile-nav__list {
  margin-top: -32px;
  margin-bottom: -32px;
  list-style: none;
}

.mobile-nav__item {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mobile-nav__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.mobile-nav__link--current {
  color: #2196f3;
}

.mobile-nav__link:hover, .mobile-nav__link:focus {
  color: #2196f3;
}

.mobile-contacts {
  margin-top: auto;
}

.mobile-contacts__list {
  list-style: none;
  margin-top: -32px;
  margin-bottom: -32px;
}

.mobile-contacts__item {
  margin-top: 32px;
  margin-bottom: 32px;
}

.mobile-contacts__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-contacts__link--accent {
  font-size: 26px;
  line-height: 1.18;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .mobile-contacts__link--accent {
    font-size: 34px;
  }
}

.mobile-socials {
  margin-top: 64px;
}

.mobile-socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -10px;
  list-style: none;
}

.mobile-socials__item {
  margin-left: 10px;
  padding-right: 10px;
}

.mobile-socials__item:not(:last-child) {
  border-right: 1px solid black;
}

.mobile-socials__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (min-width: 480px) {
  .mobile-socials__link {
    font-size: 18px;
  }
}

.menu-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-btn {
    display: none;
  }
}

.menu-btn:hover, .menu-btn:focus {
  color: #2196f3;
}

.menu-btn__icon {
  fill: currentColor;
}
/*# sourceMappingURL=main.css.map */