.btn {
  @include flex(null, null, center, center);

  width: 200px;
  height: 50px;

  @include font(700, 16px, 1.87, 00.06em);

  color: getColor('secondary');
  background-color: getColor('accent');

  border-color: transparent;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  @include transition(background-color, null, null, 250ms, cubic-bezier(0.4, 0, 0.2, 1));

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: getColor('accent--btn');
  }

  &__icon {
    fill: currentColor;

    &--end {
      @include margin(null, null, null, 10px);
    }
  }

  &-close {
    width: 30px;
    height: 30px;

    background: getColor('secondary');
    color: getColor('logo');

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;

    @include transition(color, null, null, 250ms, cubic-bezier(0.4, 0, 0.2, 1));

    &:hover,
    &:focus {
      color: getColor('accent');
    }

    &__icon {
      fill: currentColor;
    }
  }
}
