.container {
  width: 320px;

  @include margin(null, auto, null, auto);
  @include padding(null, 15px, null, 15px);

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }

  &--hero {
    @include flex(column, null, center, center);
  }
}
