.customers {
  @include flex(null, null, center, center);

  &__link {
    @include flex(null, null, center, center);
    width: 210px;
    height: 92px;
    border: 1px solid getColor('icon-link');
    border-radius: 4px;

    color: getColor('icon-link');
    @include transition(border-color, color, null, 250ms, cubic-bezier(0.4, 0, 0.2, 1));

    @media screen and (min-width: 768px) {
      width: 226px;
    }

    @media screen and (min-width: 1200px) {
      width: 170px;
    }

    &:hover,
    &:focus {
      border-color: getColor('accent');
      color: getColor('accent');
    }
  }

  &__icon {
    fill: currentColor;
  }
}
