.filter {
  @include flex(null, wrap, flex-start, null);

  @include margin(-15px, -4px, 40px, -4px);

  list-style: none;

  @media screen and (min-width: 768px) {
    @include margin(0, null, 30px, null);

    @include flex(null, null, center, null);
  }

  @media screen and (min-width: 1200px) {
    @include margin(null, null, 50px, null);
  }

  &__item {
    @include margin(15px, 4px, null, 4px);

    @media screen and (min-width: 768px) {
      @include margin(0, null, null, null);
    }
  }

  &__btn {
    @include padding(6px, 22px, 6px, 22px);

    border: none;

    border-radius: 4px;

    background-color: getColor('background');
    color: getColor('text');

    @include font(500, 16px, 1.62, 00.03em);

    @include transition(
      box-shadow,
      background-color,
      color,
      $transition-duration,
      $transition-timing-function
    );

    cursor: pointer;
    &--default {
      background-color: getColor('accent');
      color: getColor('secondary');

      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }

    &:hover,
    &:focus {
      box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);

      background-color: getColor('accent');
      color: getColor('secondary');
    }
  }
}
