.footer {
  @include padding(60px, null, 60px, null);

  background-color: getColor('background--footer');

  &__container {
    @include flex(column, null, null, center);

    @media screen and (min-width: 768px) {
      @include flex(row, wrap, space-around, baseline);
    }
  }

  &__logo {
    text-align: center;
    @include margin(null, null, 20px, null);

    color: getColor('secondary');

    @media screen and (min-width: 1200px) {
      display: inline-block;
    }
  }

  &__joining {
    @include margin(60px, null, null, null);

    @media screen and (min-width: 768px) {
      @include margin(0, null, null, null);
    }

    @media screen and (min-width: 1200px) {
      @include margin(null, null, null, 70px);
    }
  }

  &__subscription {
    @include margin(60px, null, null, null);

    @media screen and (min-width: 1200px) {
      @include margin(0, null, null, auto);
    }
  }
}
