.mobile-nav {
  &__list {
    @include margin(-32px, null, -32px, null);

    list-style: none;
  }

  &__item {
    @include margin(32px, null, 32px, null);
  }

  &__link {
    text-decoration: none;

    @include font(500, 40px, 1.18, 00.02em);

    color: getColor('text');

    &--current {
      color: getColor('accent');

      @include transition(color, null, null, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
    }

    &:hover,
    &:focus {
      color: getColor('accent');
    }
  }
}
