.mobile-contacts {
  @include margin(auto, null, null, null);
  &__list {
    list-style: none;

    @include margin(-32px, null, -32px, null);
  }

  &__item {
    @include margin(32px, null, 32px, null);
  }

  &__link {
    text-decoration: none;

    @include font(500, 24px, 1.17, 00.02em);

    color: getColor('primary');

    &--accent {
      @include font(null, 26px, 1.18, null);

      color: getColor('accent');

      @media screen and (min-width: 480px) {
        @include font(null, 34px, null, null);
      }
    }
  }
}
